html {
  font-size: 62.5%;
}

body {
  background-color: #f7f9fa;
  background-attachment: fixed;
  background-image: url(../assets/diamondUpholstery.png);
  color: #0a0425;
}

h1 {
  margin: 0;
  font-size: 6rem;
}

h2 {
  text-transform: capitalize;
  font-size: 3rem;
  margin-bottom: 0;
}

h3 {
  font-size: 2rem;
  margin-top: 0;
}

h1,
h2,
h3 {
  font-family: "Piazzolla", serif;
}

p,
a {
  font-family: "Ubuntu", sans-serif;
}

p {
  margin: 0;
  margin-top: 10px;
  font-size: 2.5rem;
}

img {
  width: 100%;
  max-width: 500px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 5px;
}

a {
  text-decoration: none;
  color: #0a0425;
  &:hover {
    color: #2f0e43;
  }
}

.button {
  padding: 10px 15px;
  margin-right: 10px;
  background: linear-gradient(145deg, #ffe8dc, #d7c3b9);
  box-shadow: 5px 5px 4px #706661, -5px -5px 4px #ffffff;
  border-radius: 5%;
  font-size: 2.5rem;
  &:hover {
    background-color: #e1b7a3;
    box-shadow: 10px 10px 2px 0px rgba(0, 0, 0, 0.75);
  }
  &:active {
    background: linear-gradient(145deg, #d7c3b9, #ffe8dc);
    box-shadow: 5px 5px 4px #706661, -5px -5px 4px #ffffff;
  }
}

.imageContainer {
  img {
    max-height: 500px;
  }
}
