.profile {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0;
    background-attachment: fixed;
    justify-content: space-around;

    .imageContainer {
        max-width: 500px;

        img {
            box-shadow: 10px 10px 3px 1px;
        }
    }

    .profileContent {
        max-width: 500px;
    }
}